@import './nav.css';
@import './buttons.css';
@import './skills.css';
@import './footer.css';
@import './contact.css';
@import './banner.css';
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans|Source+Sans+Pro');

/* Main styles */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
  font-family: 'Bitter', 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

a:hover{
  opacity: 1;
  color: #0CA7EE;
}


hr{
	width: 150px;
	height: 2px;
	background-color: #0CA7EE;
	border: 0;
	margin-bottom: 5px;
}

div{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 100px;
}

@media (max-width: 1000px){

	div{
		padding: 100px 50px;
	}
}

@media (max-width: 600px){

	div{
		padding: 80px 30px;
	}

}

div h3.title{
	color: #414a4f; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

div p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color:#252525;
}


.about{
	background-color: #fff;
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 
@keyframes i{
  from {color: black;}
  to {color:white;}
}
.arrow i{
	font-size: 75px;
	color: #fff;
	animation-name: fadeInDown;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
